
.banner{
    background-image: url("/assets/veggies-5395029__340.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:670px;
    text-align: center;  
}

.navbar-brand{
    color: white;
    padding:10px;
    background-color: green;
    border-radius: 10px;
    margin: auto;
}
a{
    font-weight: 100px;
}
.banner h2{
    color: white;
    padding:10px;
    background-color: green;
    border-radius: 10px;
    margin: auto;
    font-size: 50px;
}
